language: r
cache: packages
warnings_are_errors: true
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - unixodbc-dev
      - r-cran-rodbc
before_install:
  - sudo $(which R) CMD javareconf
