/*
* Skeleton V1.0.3
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 7/17/2011
*/


/* Documentation Styles
================================================== */

code {
    /* Show code in a dark gray monospaced font */
    font-family: monospace;
    color: #555;
    /* Show code on a light gray background */
    background-color: #eee;
    border-radius: 5px;
    /* Expand the background slightly to the left and right (but not up and down) */
    padding: 0px 3px;
}
pre code {
    /* Show code tags within a pre tag as block so the background spans the entire block
       and show a scrollbar if necessary */
    display: block;
    overflow: auto;
}

pre {
    margin-bottom: 20px;
}

li {
    list-style: square;
    margin-left: 20px;
}

/* Doc nav */
nav ul li {
    text-align: right;
    list-style: none;
    margin-left: 0px;
    margin-bottom: 10px;
}
nav ul li a,
nav ul li a:visited,
nav ul li a:active  {
    font-size: 14px;
    color: #555;
    text-decoration: none;
    font-weight: bold;
    padding: 3px 8px 4px;
    right: -8px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
nav ul li a:hover,
nav ul li a:focus {
    color: #222;
}
