body {
  background: #fff;
  margin: 20px 150px auto;
  padding: 0px;
  font-family: georgia, arial, helvetica, sans-serif;
  font-size: 1.0em;
  line-height: 125%;
  text-align: left;
  color: #222;
}

p {
  margin: 14px 0;
}

h1, h2 {
  font-size: 20px;
  margin: 20px 10px 12px 0;
}

h1 {
  padding-bottom: 3px;
  border-bottom: 1px solid black;
}

h3 {
  font-size: 16px;
  margin: 12px 0 7px 0;
}

h4, h5, h6 {
  font-size: 12px;
  margin: 10px 0 5px 0;
}

ol, ul, li {
  font-size: 1.0em;
  margin: 10px 0 10px 0;
  color: #555;
}
